* {
  box-sizing: border-box;
}

body {
  font-family: houschka-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: span-condensed, serif;
  font-weight: 600;
  font-style: normal;
}

.page-title {
  margin-left: 0.25em;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 0.5em;
}

.zapdos-nav {
  color: black;
  font-family: rosella-deco, sans-serif;
  font-weight: 400;
  font-size: 3em;
  font-style: normal;
}

.nav-link {
  color: black;
  margin: 1em;
}

.nav-link:hover {
  color: gray;
}

form div {
  margin: 1em;
  display: inline-block;
}

.promo {
  text-align: center;
  background-color: lightgray;
}

.card img {
  width: 100%;
}
.card-img img:hover {
  opacity: 0.7;
}
.mainPic {
  width: 100%;
}

.cartImage {
  width: 100px;
}

.singleShoeImg {
  width: 100%;
}

.single-shoe-info {
  margin-left: 5em;
  margin-right: 1em;
}

.allShoesImage {
  width: 250px;
}

.profile-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.profile-container-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.profile-container-bottom {
  display: flex;
  flex-flow: column nowrap;
}

.profile-container-header {
  align-self: flex-start;
}
.all-shoes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.all-shoes-container img:hover {
  opacity: 0.7;
}

.all-shoes-container div {
  border: 1px;
  padding: 10px;
}

.shoe-box {
  flex: 1;
}

.box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.box div {
  border: 1px;
  padding: 20px;
}

.single-brand-top-box {
  display: flex;
  border: 1px;
  padding: 20px;
  margin-bottom: 4em;
}

.single-brand-outer-container {
  margin-bottom: 2em;
}

.brand-description {
  width: 50%;
  border: 1px;
  padding: 20px;
}

#single-brand-image {
  width: 50%;
}

.single-brandImg {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.single-brandImg img:hover {
  opacity: 0.7;
}

.brand {
  flex: 1;
  margin-bottom: 0.25em;
}

.single-brand-box {
  margin: 0.5em;
  margin-left: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.all-brands-name {
  margin-top: 1em;
  margin-bottom: 1em;
  /* margin-left: 3em; */
  padding: 1em;
}

footer {
  padding-top: 60px;
}

.brandImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.brandImg img:hover {
  opacity: 0.7;
}

.links {
  color: rgb(143, 10, 27);
}

.links:hover {
  color: silver;
  text-decoration: none;
}

.btn {
  color: rgb(143, 10, 27);
  border: 1px solid rgb(143, 10, 27);
}

.btn:hover {
  background-color: rgb(143, 10, 27);
  border: 1px solid silver;
}

.view-all-page {
  display: flex;
  flex-flow: row wrap;
}

/* OK change margin, padding */
.card {
  height: 30em;
  width: 23em;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 5%;
  border: none;
}

.image-div {
  height: 70%;
  width: 100%;
}

.image-div img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px gray;
  border-radius: 5%;
}

.image-div img:hover {
  opacity: 0.7;
}

.order-div {
  border: 1px solid lightslategray;
  border-radius: 5%;
  margin: 1em;
}

.checkout-row {
  display: flex;
  align-content: space-between;
  flex-flow: row wrap;
  justify-content: center;
}

/* OK change */
.footer {
  display: flex;
  align-content: center;
  justify-content: space-around;
  background-color: rgb(236, 232, 232);
  padding: 0.5em;
}

.checkout-form-container {
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
}

.checkout-container {
  margin-bottom: 2.25em;
}

.checkout-50 {
  flex: 2;
  -ms-flex: auto; /* for IE 10 */
}

#checkout-button {
  display: flex;
  justify-content: center;
  align-self: center;
}
