* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.zapdos-nav {
  color: black;
  font-weight: bolder;
}

.nav-link {
  color: black;
  margin: 1em;
}

.nav-link:hover {
  color: gray;
}

form div {
  margin: 1em;
  display: inline-block;
}

.promo {
  text-align: center;
  background-color: lightgray;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card img {
  width: 300px;
}
.mainPic {
  width: 100%;
}
.brand {
  width: 500px;
}
.brand img {
  width: 33%;
}

.cartImage {
  width: 100px;
}

.singleShoeImg {
  width: 40%;
}

.allShoesImage {
  width: 250px;
}
