* {
  box-sizing: border-box;
}

body {
  font-family: sweet-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 0.5em;
}

.zapdos-nav {
  color: black;
  font-family: rosella-deco, sans-serif;
  font-weight: 400;
  font-size: 3em;
  font-style: normal;
}

.nav-link {
  color: black;
  margin: 1em;
}

.nav-link:hover {
  color: gray;
}

form div {
  margin: 1em;
  display: inline-block;
}

.promo {
  text-align: center;
  background-color: lightgray;
}

.card img {
  width: 300px;
}
.mainPic {
  width: 100%;
}

.cartImage {
  width: 100px;
}

.singleShoeImg {
  width: 40%;
}

.allShoesImage {
  width: 250px;
}

.profile-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.profile-container-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.profile-container-bottom {
  display: flex;
  flex-flow: column nowrap;
}

.profile-container-header {
  align-self: flex-start;
}
.all-shoes-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.all-shoes-container img:hover {
  opacity: 0.7;
}

.all-shoes-container div {
  border: 1px;
  padding: 10px;
}

.shoe-box {
  flex: 1;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box div {
  border: 1px;
  padding: 20px;
}

.brand {
  flex: 1;
}

.brandImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.links {
  color: goldenrod;
}

.links:hover {
  color: silver;
  text-decoration: none;
}

.btn {
  color: goldenrod;
  border: 1px solid goldenrod;
}

.btn:hover {
  background-color: goldenrod;
  border: 1px solid silver;
}

.view-all-page {
  display: flex;
  flex-flow: row wrap;
}

.card {
  height: 25em;
  width: 15em;
  display: flex;
  flex-flow: column nowrap;
  margin: 1em;
  border-radius: 5%;
  border: none;
}

.image-div {
  height: 70%;
  width: 100%;
}

.image-div img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px gray;
  border-radius: 5%;
}
.image-div img:hover {
  opacity: 0.7;
}
